apiVersion: v1
kind: ConfigMap
metadata:
  name: alerting-configmap
  namespace: kube-prometheus-stack
data:
  grafana-default-email.yaml: |
    apiVersion: 1
    contactPoints:
        - orgId: 1
          name: grafana-default-email
          receivers:
            - uid: afcci55lyjt34b
              type: email
              settings:
                addresses: ${GRAFANA_ALERTING_EMAIL_RECEIVERS}
                singleEmail: true
              disableResolveMessage: false
  grafana-managed-rules.yaml: |
    apiVersion: 1
    groups:
        - orgId: 1
          name: 5m Evaluation Group
          folder: Provisioned Resources
          interval: 5m
          rules:
            - uid: bfcch8y2oe1ogb
              title: PVC Usage
              condition: C
              data:
                - refId: A
                  relativeTimeRange:
                    from: 600
                    to: 0
                  datasourceUid: prometheus
                  model:
                    editorMode: code
                    expr: max by (persistentvolumeclaim)(kubelet_volume_stats_used_bytes/kubelet_volume_stats_capacity_bytes)
                    instant: true
                    intervalMs: 1000
                    legendFormat: __auto
                    maxDataPoints: 43200
                    range: false
                    refId: A
                - refId: C
                  datasourceUid: __expr__
                  model:
                    conditions:
                        - evaluator:
                            params:
                                - 0.8
                            type: gt
                          operator:
                            type: and
                          query:
                            params:
                                - C
                          reducer:
                            params: []
                            type: last
                          type: query
                    datasource:
                        type: __expr__
                        uid: __expr__
                    expression: A
                    intervalMs: 1000
                    maxDataPoints: 43200
                    refId: C
                    type: threshold
              noDataState: NoData
              execErrState: Error
              annotations:
                Expected usage: <= 80%
              isPaused: false
              notification_settings:
                receiver: grafana-default-email

