backups:
  enabled: true
  provider: s3
  endpointURL: ${CNPG_BACKUP_S3_ENDPOINT_URL}
  secret:
    create: false
    name: cnpg-backup-s3-creds
  s3:
    region: ""
    bucket: cnpg-backup
    path: "/v1"
  scheduledBackups:
    - name: daily-backup
      schedule: "0 0 0 * * *" # Daily at midnight
      backupOwnerReference: self
  retentionPolicy: "45d"
  data:
    compression: "gzip"
    encryption: ""
  wal:
    compression: "gzip"
    encryption: ""

cluster:
  instances: 3

  enableSuperuserAccess: true
  superuserSecret: cnpg-superuser-secret

  storage:
    storageClass: ceph-block
    size: 10Gi

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist

  monitoring:
    enabled: true
    podMonitor:
      enabled: true

  roles:
    - name: forgejo
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: forgejo-db-credentials
    - name: keycloak
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: keycloak-db-credentials
    - name: harbor
      ensure: present
      login: true
      superuser: false
      passwordSecret:
        name: harbor-db-credentials
    # START ENVIRONMENT SPECIFIC ROLES SECTION
    # END ENVIRONMENT SPECIFIC ROLES SECTION
