apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: forgejo-app-ini-external-secret
  namespace: forgejo
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: cluster-secret-store-backend
    kind: ClusterSecretStore
  target:
    name: forgejo-app-ini
    template:
      engineVersion: v2
      data:
        database: |
          DB_TYPE=postgres
          HOST=cnpg-cluster-rw.cnpg-system.svc.cluster.local
          NAME=forgejo
          USER="{{ .username }}"
          PASSWD="{{ .password }}"
        queue: |
          TYPE=redis
          CONN_STR="redis+sentinel://redis-sentinel.redis-sentinel.svc.cluster.local:26379/0?prefix=forgejo:&mastername=mymaster&sentinelpassword={{ .redispass }}&password={{ .redispass }}"
        cache: |
          ADAPTER=redis
          HOST="redis+sentinel://redis-sentinel.redis-sentinel.svc.cluster.local:26379/1?prefix=forgejo:&mastername=mymaster&sentinelpassword={{ .redispass }}&password={{ .redispass }}"
        session: |
          PROVIDER=redis
          PROVIDER_CONFIG="redis+sentinel://redis-sentinel.redis-sentinel.svc.cluster.local:26379/2?prefix=forgejo:&mastername=mymaster&sentinelpassword={{ .redispass }}&password={{ .redispass }}"

  data:
  - secretKey: username # key in Kubernetes Secret
    remoteRef:
      key: forgejo-db-credentials # key in the secret store
      property: username # property in the secret store secret
  - secretKey: password # key in Kubernetes Secret
    remoteRef:
      key: forgejo-db-credentials # key in the secret store
      property: password # property in the secret store secret
  - secretKey: redispass # key in Kubernetes Secret
    remoteRef:
      key: redis-password # key in the secret store
      property: redis-password # property in the secret store secret